.increase {
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.decrease {
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}
